openapi: 3.0.0
info:
  description: ''
  title: TransIP API
  version: ''
servers:
  - url: 'https://api.transip.nl/v6'
paths:
  /api-test:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ping: pong
              schema:
                properties:
                  ping:
                    type: string
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - General
      description: Returns pong. A simple test resource to make sure everything is working
      operationId: API Test
      summary: API Test
  /availability-zones:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    availabilityZones:
                      - country: nl
                        isDefault: true
                        name: ams0
              schema:
                properties:
                  availabilityZones:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - General
      description: Lists the available AvailabilityZones.
      operationId: List available AvailabilityZones
      summary: List available AvailabilityZones
  /big-storages:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    bigStorages:
                      - availabilityZone: ams0
                        description: Big storage description
                        diskSize: 2147483648
                        isLocked: false
                        name: example-bigstorage
                        offsiteBackups: true
                        status: active
                        vpsName: example-vps
              schema:
                properties:
                  bigStorages:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        Returns an array of all Big Storages in the given account.


        After all Big Storages have been returned as an array, you can extract
        it and use a specific Big Storage for the other API calls documented
        below.


        Should you only want to get the big storages attached to a specific VPS,
        set the `vpsName` parameter and only big storages that are attached to
        the given vps will be shown like
        https://api.transip.nl/v6/big-storages?vpsName=example-vps


        ::: note


        This method supports pagination, using this methods you can limit the
        amount of big storages returned by the api, which might be usefull if
        you expect a lot of response objects and you want to spread that over
        multiple requests. See the [documentation on pages](#header-pages) for
        more information on how to use this functionality.
      operationId: List all big storages
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Filters on a given vps name.
      summary: List all big storages
    post:
      responses:
        '201':
          description: Created
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Upgrade size '2' is smaller than current size '4'
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        With this method you are able to upgrade a bigstorage diskSize or enable
        backups.


        The minimum size is 2 TB and storage can be extended with up to maximum
        of 40 TB. Make sure to use a multitude of 2 TB.


        Optionally, to create back-ups of your Big Storage, enable off-site
        back-ups. We highly recommend activating back-ups.


        ::: warning


        <i class="fa fa-warning"></i> **Warning**: This API call will create an
        invoice!
      operationId: Upgrade big storage
      requestBody:
        content:
          application/json:
            schema:
              example:
                bigStorageName: example-bigstorage
                offsiteBackups: true
                size: 8
              properties:
                bigStorageName:
                  description: The name of the bigstorage to upgrade
                  type: string
                offsiteBackups:
                  description: >-
                    Whether to order offsite backups, omit this to use current
                    value
                  type: boolean
                size:
                  description: >-
                    The size of the big storage in TB's, use a multitude of 2.
                    The maximum size is 40.
                  type: number
              type: object
      summary: Upgrade big storage
  '/big-storages/{bigStorageName}':
    delete:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      This is not a valid cancellation time: 'now', please use
                      either 'end' or 'immediately'
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Product already has cancellation pending
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        Cancels a big storage for the specified ‘endTime’. You can set the
        `endTime` attribute to `end` or `immediately`, this has the following
        implications:


        * **end**: The Big Storage will be terminated from the end date of the
        agreement as can be found in the applicable quote;


        * **immediately**: The Big Storage will be terminated immediately.

         Note that canceling a Big Storage will wipe all data stored on it as well as off-site back-ups as well if these are activated.
      operationId: Cancel big storage
      requestBody:
        content:
          application/json:
            schema:
              example:
                endTime: end
              properties:
                endTime:
                  description: 'Cancellation time, either ''end'' or ''immediately'''
                  type: string
              type: object
      summary: Cancel big storage
    get:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    bigStorage:
                      availabilityZone: ams0
                      description: Big storage description
                      diskSize: 2147483648
                      isLocked: false
                      name: example-bigstorage
                      offsiteBackups: true
                      status: active
                      vpsName: example-vps
              schema:
                properties:
                  bigStorage:
                    properties:
                      availabilityZone:
                        description: The availability zone the bigstorage is located in
                        type: string
                      description:
                        description: Name that can be set by customer
                        type: string
                      diskSize:
                        description: Disk size of the big storage in kB
                        type: number
                      isLocked:
                        description: >-
                          Lock status of the big storage, when it is locked, it
                          cannot be attached or detached.
                        type: boolean
                      name:
                        description: Name of the big storage
                        type: string
                      offsiteBackups:
                        description: Whether a bigstorage has backups
                        type: boolean
                      status:
                        description: >-
                          Status of the big storage can be 'active', 'attaching'
                          or 'detaching'
                        type: string
                      vpsName:
                        description: The VPS that the big storage is attached to
                        type: string
                    required:
                      - description
                      - vpsName
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        Get information about a specific Big Storage and its current status. If
        the Big Storage is attached to a VPS, the output will contain the VPS
        name it’s attached to.
      operationId: Get big storage by name
      summary: Get big storage by name
    put:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'VPS ''example-vps'' is blocked, no modification is allowed'
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: VPS with name 'example-vps' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      Big storage needs to be in the same availability zone as
                      VPS 'example-vps'
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      VPS 'example-vps' is customer locked, no modification is
                      allowed
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        This API calls allows for altering a big storage in several ways
        outlined below:


        * Changing the description of a Big Storage;


        * One Big Storages can only be attached to one VPS at a time;


        * One VPS can have a maximum of 10 bigstorages attached;


        * Set the `vpsName` property to the VPS name to attach to for attaching
        Big Storage;


        * Set the `vpsName` property to null to detach the Big Storage from the
        currently attached VPS.
      operationId: Update big storage
      requestBody:
        content:
          application/json:
            schema:
              example:
                bigStorage:
                  availabilityZone: ams0
                  description: Big storage description
                  diskSize: 2147483648
                  isLocked: false
                  name: example-bigstorage
                  offsiteBackups: true
                  status: active
                  vpsName: example-vps
              properties:
                bigStorage:
                  properties:
                    availabilityZone:
                      description: The availability zone the bigstorage is located in
                      type: string
                    description:
                      description: Name that can be set by customer
                      type: string
                    diskSize:
                      description: Disk size of the big storage in kB
                      type: number
                    isLocked:
                      description: >-
                        Lock status of the big storage, when it is locked, it
                        cannot be attached or detached.
                      type: boolean
                    name:
                      description: Name of the big storage
                      type: string
                    offsiteBackups:
                      description: Whether a bigstorage has backups
                      type: boolean
                    status:
                      description: >-
                        Status of the big storage can be 'active', 'attaching'
                        or 'detaching'
                      type: string
                    vpsName:
                      description: The VPS that the big storage is attached to
                      type: string
                  required:
                    - description
                    - vpsName
                  type: object
              type: object
      summary: Update big storage
  '/big-storages/{bigStorageName}/backups':
    get:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    backups:
                      - availabilityZone: ams0
                        dateTimeCreate: '2019-12-31 09:13:55'
                        diskSize: 4294967296
                        id: 1583
                        status: active
              schema:
                properties:
                  backups:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        Using this API call, you are able to list all backups belonging to a
        specific big storage.
      operationId: List backups for a big storage
      summary: List backups for a big storage
  '/big-storages/{bigStorageName}/backups/{backupId}':
    patch:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
        - description: Id of the backup
          example: '625584'
          in: path
          name: backupId
          required: true
          schema:
            type: number
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Backup with id '1337' not found
          description: Not Found
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Actions on Backup '123' are temporary disabled
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        To revert a backup from a big storage, retrieve the `backupId` from the
        [backups](#vps-backups-get-1) resource. Please note this is only
        possible when any backups are created with the off-site backups feature,
        otherwise no backups will be made nor listed.
      operationId: Revert a big storage backup
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: revert
              properties:
                action:
                  type: string
              type: object
      summary: Revert a big storage backup
  '/big-storages/{bigStorageName}/usage':
    get:
      parameters:
        - description: The name of the big storage
          in: path
          name: bigStorageName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    usage:
                      - date: 1574783109
                        iopsRead: 0.27
                        iopsWrite: 0.13
              schema:
                properties:
                  usage:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage 'example-bigstorage' is not attached to a VPS
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - VPS
      description: >-
        Get the usage statistics for a big storage. You can specify a
        `dateTimeStart` and `dateTimeEnd` parameter in the UNIX timestamp
        format. When none given, traffic for the past 24 hours are returned. The
        maximum period is one month.


        When the big storage is not attached to a vps, there are no usage
        statistics available. Therefore, the response returned will be a 406
        exception. If the big storage is re-attached to another vps then the old
        statistics are no longer available.
      operationId: Get big storage usage statistics
      requestBody:
        content:
          application/json:
            schema:
              example:
                dateTimeEnd: 1490064468
                dateTimeStart: 1490023668
              properties:
                dateTimeEnd:
                  description: The end date of the usage statistics
                  type: number
                dateTimeStart:
                  description: The start date of the usage statistics
                  type: number
              type: object
      summary: Get big storage usage statistics
  /colocations:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    colocations:
                      - ipRanges:
                          - '2a01:7c8:c038:6::/64'
                        name: example2
              schema:
                properties:
                  colocations:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        Gets a list of colocations currently registered in your account. For
        every colocation service in your account, the corresponding name and IP
        range(s) are returned.
      operationId: List all colocations
      summary: List all colocations
  '/colocations/{colocationName}':
    get:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    colocation:
                      ipRanges:
                        - '2a01:7c8:c038:6::/64'
                      name: example2
              schema:
                properties:
                  colocation:
                    properties:
                      ipRanges:
                        description: List of IP ranges
                        items: {}
                        type: array
                      name:
                        description: Colocation name
                        type: string
                    required:
                      - name
                      - ipRanges
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: Get a information about a specific colocation.
      operationId: Get colocation
      summary: Get colocation
  '/colocations/{colocationName}/ip-addresses':
    get:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ipAddresses:
                      - address: 37.97.254.6
                        dnsResolvers:
                          - 195.8.195.8
                          - 195.135.195.135
                        gateway: 37.97.254.1
                        reverseDns: example.com
                        subnetMask: 255.255.255.0
              schema:
                properties:
                  ipAddresses:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        List IP addresses based on the colocation they’re assigned to. The
        address itself, its subnet mask, gateway and DNS resolvers in that
        range.
      operationId: List IP addresses for a colocation
      summary: List IP addresses for a colocation
    post:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '149.210.215.249' already exists
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        Create an IP address for a colocation by specifying the colocation name
        the IP address should be assigned to. Note the IP address should be in a
        range you own.


        Currently, new IP addresses have to be requested manually through the
        support system.


        Optionally, you can also set the reverse DNS by specifying the
        `reverseDns` attribute.
      operationId: Create a new IP address for a colocation
      requestBody:
        content:
          application/json:
            schema:
              example:
                ipAddress: '2a01:7c8:3:1337::6'
                reverseDns: example.com
              properties:
                ipAddress:
                  description: The IP address to register to the colocation
                  type: string
                reverseDns:
                  description: 'Reverse DNS, also known as the PTR record'
                  type: string
              type: object
      summary: Create a new IP address for a colocation
  '/colocations/{colocationName}/ip-addresses/{ipAddress}':
    delete:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
        - description: Colocation IP address
          example: 149.210.215.249
          in: path
          name: ipAddress
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: Delete an IP addresses for a colocation. The IP address will be removed.
      operationId: Delete an IP address
      summary: Delete an IP address
    get:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
        - description: Colocation IP address
          example: 149.210.215.249
          in: path
          name: ipAddress
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ipAddress:
                      address: 37.97.254.6
                      dnsResolvers:
                        - 195.8.195.8
                        - 195.135.195.135
                      gateway: 37.97.254.1
                      reverseDns: example.com
                      subnetMask: 255.255.255.0
              schema:
                properties:
                  ipAddress:
                    properties:
                      address:
                        description: The IP address
                        type: string
                      dnsResolvers:
                        description: The TransIP DNS resolvers you can use
                        items: {}
                        type: array
                      gateway:
                        description: Gateway
                        type: string
                      reverseDns:
                        description: 'Reverse DNS, also known as the PTR record'
                        type: string
                      subnetMask:
                        description: Subnet mask
                        type: string
                    required:
                      - reverseDns
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        Get IP addresses information for a specific colocation and IP address.


        The address itself, its subnet mask, gateway and DNS resolvers in that
        range.
      operationId: Get IP addresses for a colocation
      summary: Get IP addresses for a colocation
    put:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
        - description: Colocation IP address
          example: 149.210.215.249
          in: path
          name: ipAddress
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        Sets a reverse DNS name for an IP address.


        Upon adding a new IP address for a colocation, you’re able to set the
        reverse DNS instantly along with the API call.
      operationId: Set reverse DNS for an IP address
      requestBody:
        content:
          application/json:
            schema:
              example:
                ipAddress:
                  address: 37.97.254.6
                  dnsResolvers:
                    - 195.8.195.8
                    - 195.135.195.135
                  gateway: 37.97.254.1
                  reverseDns: example.com
                  subnetMask: 255.255.255.0
              properties:
                ipAddress:
                  properties:
                    address:
                      description: The IP address
                      type: string
                    dnsResolvers:
                      description: The TransIP DNS resolvers you can use
                      type: array
                    gateway:
                      description: Gateway
                      type: string
                    reverseDns:
                      description: 'Reverse DNS, also known as the PTR record'
                      type: string
                    subnetMask:
                      description: Subnet mask
                      type: string
                  required:
                    - reverseDns
                  type: object
              type: object
      summary: Set reverse DNS for an IP address
  '/colocations/{colocationName}/remote-hands':
    post:
      parameters:
        - description: Colocation name
          example: example2
          in: path
          name: colocationName
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Colocations
      description: >-
        Send a request to the datacenter engineer to perform simple task on your
        server, e.g. a powercycle.
      operationId: Create a Remotehands request
      requestBody:
        content:
          application/json:
            schema:
              example:
                remoteHands:
                  coloName: example2
                  contactName: Herman Kaakdorst
                  expectedDuration: 15
                  instructions: Reboot server with label Loadbalancer0
                  phoneNumber: +31 612345678
              properties:
                remoteHands:
                  properties:
                    coloName:
                      description: Name of the colocation contract
                      type: string
                    contactName:
                      description: Name of the person that created the remote hands request
                      type: string
                    expectedDuration:
                      description: Expected duration in minutes
                      type: number
                    instructions:
                      description: The instructions for the datacenter engineer to perform
                      type: string
                    phoneNumber:
                      description: >-
                        Phonenumber to contact in case of questions regarding
                        the remotehands request
                      type: string
                  type: object
              type: object
      summary: Create a Remotehands request
  /domain-availability:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    availability:
                      - actions:
                          - register
                        domainName: example.com
                        status: free
              schema:
                properties:
                  availability:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: Check the availability for multiple domain names.
      operationId: Check the availability for multiple domain names
      requestBody:
        content:
          application/json:
            schema:
              example:
                domainNames:
                  - example.com
                  - example.nl
              properties:
                domainNames:
                  description: array of domainNames to check
                  type: array
              type: object
      summary: Check the availability for multiple domain names
  '/domain-availability/{domainName}':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    availability:
                      actions:
                        - register
                      domainName: example.com
                      status: free
              schema:
                properties:
                  availability:
                    properties:
                      actions:
                        description: >-
                          List of available actions to perform on this domain.
                          Possible actions are: 'register', 'transfer',
                          'internalpull' and 'internalpush'
                        items: {}
                        type: array
                      domainName:
                        description: The name of the domain
                        type: string
                      status:
                        description: >-
                          The status for this domain. Possible statuses are:
                          'inyouraccount', 'unavailable', 'notfree', 'free',
                          'internalpull' and 'internalpush'
                        type: string
                    required:
                      - domainName
                      - status
                      - actions
                    type: object
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: This method allows you to check the availability for a domain name.
      operationId: Check availability for a domain name
      summary: Check availability for a domain name
  /domains:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    domains:
                      - tags:
                          - customTag
                          - anotherTag
                        authCode: >-
                          kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                        cancellationDate: '2020-01-01 12:00:00'
                        cancellationStatus: signed
                        isDnsOnly: false
                        isTransferLocked: false
                        isWhitelabel: false
                        name: example.com
                        registrationDate: '2016-01-01'
                        renewalDate: '2020-01-01'
              schema:
                properties:
                  domains:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        This API call allows you to list all domain names in your TransIP
        account.


        Should you want to filter the domains list by a custom tag, set the
        `tag` parameter and only domains with the tag will be returned like
        https://api.transip.nl/v6/domains?tag=customTag,anotherTag


        ::: note


        This method supports pagination, using this methods you can limit the
        amount of domains returned by the api, which might be usefull if you
        expect a lot of response objects and you want to spread that over
        multiple requests. See the [documentation on pages](#header-pages) for
        more information on how to use this functionality.
      operationId: List all domains
      requestBody:
        $ref: '#/components/requestBodies/List_all_domainsTags'
      summary: List all domains
    post:
      responses:
        '201':
          description: Created
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      The domain 'example.com' is not registered and thus cannot
                      be transferred
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Transfer a domain to TransIP using its transfer key (or ‘EPP code’) by
        specifying it in the `authCode` parameter.


        You can override the contacts, nameservers and DNS entries immediately,
        but is not mandatory.


        ::: warning


        <i class="fa fa-warning"></i> **Warning**: This API call will create an
        invoice!
      operationId: Transfer a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                authCode: >-
                  CYPMaVH+9MRjXGBc3InzHs7vNSUBPOjwpZm3GO+iDLHnFLtiP7sOKqW5JD1WeUpevZM6q1qS5YH9dGSp
                contacts:
                  - city: Leiden
                    companyKvk: '83057825'
                    companyName: Example B.V.
                    companyType: BV
                    country: nl
                    email: example@example.com
                    faxNumber: +31 715241919
                    firstName: John
                    lastName: Doe
                    number: '12'
                    phoneNumber: +31 715241919
                    postalCode: 1337 XD
                    street: Easy street
                    type: registrant
                dnsEntries:
                  - content: 127.0.0.1
                    expire: 86400
                    name: www
                    type: A
                domainName: example.com
                nameservers:
                  - hostname: ns0.transip.nl
                    ipv4: null
                    ipv6: null
              properties:
                authCode:
                  description: The auth code of the domain.
                  type: string
                contacts:
                  type: array
                dnsEntries:
                  type: array
                domainName:
                  type: string
                nameservers:
                  type: array
              type: object
      summary: Transfer a domain
  '/domains/{domainName}':
    delete:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      The domain 'example.com' has additional products attached,
                      and thus can't be cancelled
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      This is not a valid cancellation time: 'now', please use
                      either 'end' or 'immediately'
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      The domain 'example.com' already has a cancellation
                      pending
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Cancels the specified domain. Depending on the time you want to cancel
        the domain, specify 'end' or 'immediately' for the `endTime` attribute.


        Upon canceling a domain name (or any other product) it will be shown
        under [cancellations](https://www.transip.nl/cp/account/opzeggingen/) in
        the TransIP control panel. By using the API method outlined above
        ([Retrieve an existing domain](#domains-domains-get-1)) you’ll be able
        to see if the domain name has been canceled yet.
      operationId: Cancel a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                endTime: end
              properties:
                endTime:
                  description: 'Cancellation time, either ''end'' or ''immediately'''
                  type: string
              type: object
      summary: Cancel a domain
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    domain:
                      tags:
                        - customTag
                        - anotherTag
                      authCode: >-
                        kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                      cancellationDate: '2020-01-01 12:00:00'
                      cancellationStatus: signed
                      isDnsOnly: false
                      isTransferLocked: false
                      isWhitelabel: false
                      name: example.com
                      registrationDate: '2016-01-01'
                      renewalDate: '2020-01-01'
              schema:
                properties:
                  domain:
                    properties:
                      tags:
                        description: The custom tags added to this domain.
                        items: {}
                        type: array
                      authCode:
                        description: >-
                          The authcode for this domain as generated by the
                          registry.
                        nullable: true
                        type: string
                      cancellationDate:
                        description: >-
                          Cancellation data, in YYYY-mm-dd h:i:s format, null if
                          the domain is active.
                        nullable: true
                        type: string
                      cancellationStatus:
                        description: >-
                          Cancellation status, null if the domain is active,
                          'cancelled' when the domain is cancelled.
                        nullable: true
                        type: string
                      isDnsOnly:
                        description: Whether this domain is DNS only
                        type: boolean
                      isTransferLocked:
                        description: >-
                          If this domain supports transfer locking, this flag is
                          true when the domains ability to transfer is locked at
                          the registry.
                        type: boolean
                      isWhitelabel:
                        description: If this domain is added to your whitelabel.
                        type: boolean
                      name:
                        description: 'The name, including the tld of this domain'
                        type: string
                      registrationDate:
                        description: 'Registration date of the domain, in YYYY-mm-dd format.'
                        type: string
                      renewalDate:
                        description: 'Next renewal date of the domain, in YYYY-mm-dd format.'
                        type: string
                    required:
                      - name
                      - isTransferLocked
                      - isWhitelabel
                      - tags
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: Show information about a specific domain name.
      operationId: Retrieve an existing domain
      summary: Retrieve an existing domain
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      You do not have a whitelabel account yet, please order one
                      first
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      Domain 'example.com' has action 'changeNameservers'
                      running, no modification is allowed
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Update an existing domain. To apply or release a lock, change the
        `isTransferLocked` attribute. To change tags, update the `tags`
        attribute.


        You’re able to add the domain name under a whitelabel account. Note this
        whitelabel functionality is available only for .nl domains. Furthermore,
        the whitelabel account must be activated first at regular charge. Upon
        activating, newly registered domains with the `isWhitelabel` attribute
        set to ‘true’ will be shown under a whitelabel registrar name.


        For more information about whitelabel domain name registration at
        TransIP, please see the documentation regarding
        [whitelabel](#domains-whitelabel-post).


        ::: warning


        <i class="fa fa-warning"></i> **Warning**: When adding the domain to
        your whitelabel, it cannot be reverted!
      operationId: Update a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                domain:
                  tags:
                    - customTag
                    - anotherTag
                  authCode: >-
                    kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                  cancellationDate: '2020-01-01 12:00:00'
                  cancellationStatus: signed
                  isDnsOnly: false
                  isTransferLocked: false
                  isWhitelabel: false
                  name: example.com
                  registrationDate: '2016-01-01'
                  renewalDate: '2020-01-01'
              properties:
                domain:
                  properties:
                    tags:
                      description: The custom tags added to this domain.
                      type: array
                    authCode:
                      description: >-
                        The authcode for this domain as generated by the
                        registry.
                      nullable: true
                      type: string
                    cancellationDate:
                      description: >-
                        Cancellation data, in YYYY-mm-dd h:i:s format, null if
                        the domain is active.
                      nullable: true
                      type: string
                    cancellationStatus:
                      description: >-
                        Cancellation status, null if the domain is active,
                        'cancelled' when the domain is cancelled.
                      nullable: true
                      type: string
                    isDnsOnly:
                      description: Whether this domain is DNS only
                      type: boolean
                    isTransferLocked:
                      description: >-
                        If this domain supports transfer locking, this flag is
                        true when the domains ability to transfer is locked at
                        the registry.
                      type: boolean
                    isWhitelabel:
                      description: If this domain is added to your whitelabel.
                      type: boolean
                    name:
                      description: 'The name, including the tld of this domain'
                      type: string
                    registrationDate:
                      description: 'Registration date of the domain, in YYYY-mm-dd format.'
                      type: string
                    renewalDate:
                      description: 'Next renewal date of the domain, in YYYY-mm-dd format.'
                      type: string
                  required:
                    - name
                    - isTransferLocked
                    - isWhitelabel
                    - tags
                  type: object
              type: object
      summary: Update a domain
  '/domains/{domainName}/actions':
    delete:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      Unable to cancel the running action for 'example.com' at
                      this time
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        With this method you are able to cancel a domain action while it is
        still pending or being processed.
      operationId: Cancel domain action
      summary: Cancel domain action
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    action:
                      hasFailed: false
                      message: success
                      name: changeNameservers
              schema:
                properties:
                  action:
                    properties:
                      hasFailed:
                        description: 'If this action has failed, this field will be true.'
                        type: boolean
                      message:
                        description: >-
                          If this action has failed, this field will contain an
                          descriptive message.
                        type: string
                      name:
                        description: The name of this DomainAction.
                        type: string
                    required:
                      - name
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Domain actions are kept track of by TransIP. Domain actions include, for
        example, changing nameservers.


        When no action is running the action's `name` parameter will be `null`.


        The action message will contain a failure message, please provide the
        information to fix this using the method below.
      operationId: Get current domain action
      summary: Get current domain action
    patch:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      Domain 'example.com' has action 'changeNameservers'
                      running, no modification is allowed.
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Domain actions can fail due to wrong information, this method allows you
        to retry an action. You only have to specify information that is
        required for the action.
      operationId: Retry domain action
      requestBody:
        content:
          application/json:
            schema:
              example:
                contacts:
                  - city: Leiden
                    companyKvk: '83057825'
                    companyName: Example B.V.
                    companyType: BV
                    country: nl
                    email: example@example.com
                    faxNumber: +31 715241919
                    firstName: John
                    lastName: Doe
                    number: '12'
                    phoneNumber: +31 715241919
                    postalCode: 1337 XD
                    street: Easy street
                    type: registrant
                dnsEntries:
                  - content: 127.0.0.1
                    expire: 86400
                    name: www
                    type: A
                nameservers:
                  - hostname: ns0.transip.nl
                    ipv4: null
                    ipv6: null
              properties:
                authCode:
                  type: string
                contacts:
                  type: array
                dnsEntries:
                  type: array
                nameservers:
                  type: array
              type: object
      summary: Retry domain action
  '/domains/{domainName}/branding':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    branding:
                      bannerLine1: Example B.V.
                      bannerLine2: Example
                      bannerLine3: 'http://www.example.com/products'
                      companyName: Example B.V.
                      companyUrl: www.example.com
                      supportEmail: admin@example.com
                      termsOfUsageUrl: www.example.com/tou
              schema:
                properties:
                  branding:
                    properties:
                      bannerLine1:
                        description: >-
                          The first generic bannerLine displayed in
                          whois-branded whois output.
                        type: string
                      bannerLine2:
                        description: >-
                          The second generic bannerLine displayed in
                          whois-branded whois output.
                        type: string
                      bannerLine3:
                        description: >-
                          The third generic bannerLine displayed in
                          whois-branded whois output.
                        type: string
                      companyName:
                        description: The company name displayed in transfer-branded e-mails
                        type: string
                      companyUrl:
                        description: The company url displayed in transfer-branded e-mails
                        type: string
                      supportEmail:
                        description: The support email used for transfer-branded e-mails
                        type: string
                      termsOfUsageUrl:
                        description: >-
                          The terms of usage url as displayed in
                          transfer-branded e-mails
                        nullable: true
                        type: string
                    required:
                      - companyName
                      - supportEmail
                      - companyUrl
                      - termsOfUsageUrl
                      - bannerLine1
                      - bannerLine2
                      - bannerLine3
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Get domain branding information for a given domain name.


        Please note this API call does not return the whitelabel account status
        (just the branding).


        Branding options can be altered from the TransIP control panel or by
        using the API call outlined below.
      operationId: Get domain branding
      summary: Get domain branding
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain TLD doesn't support branding
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: >-
                      Domain 'example.com' has action 'changeNameservers'
                      running, no modification is allowed
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Domain name branding can be set or altered using this API call. Among
        others, you can set your own company name and company URL, replacing the
        default values which are usually TransIP contact details.


        Changes will not apply to previously registered domain names. The new
        settings will, in most cases, only show up for newly registered domain
        names after the changes were made.
      operationId: Update domain branding
      requestBody:
        content:
          application/json:
            schema:
              example:
                branding:
                  bannerLine1: Example B.V.
                  bannerLine2: Example
                  bannerLine3: 'http://www.example.com/products'
                  companyName: Example B.V.
                  companyUrl: www.example.com
                  supportEmail: admin@example.com
                  termsOfUsageUrl: www.example.com/tou
              properties:
                branding:
                  properties:
                    bannerLine1:
                      description: >-
                        The first generic bannerLine displayed in whois-branded
                        whois output.
                      type: string
                    bannerLine2:
                      description: >-
                        The second generic bannerLine displayed in whois-branded
                        whois output.
                      type: string
                    bannerLine3:
                      description: >-
                        The third generic bannerLine displayed in whois-branded
                        whois output.
                      type: string
                    companyName:
                      description: The company name displayed in transfer-branded e-mails
                      type: string
                    companyUrl:
                      description: The company url displayed in transfer-branded e-mails
                      type: string
                    supportEmail:
                      description: The support email used for transfer-branded e-mails
                      type: string
                    termsOfUsageUrl:
                      description: >-
                        The terms of usage url as displayed in transfer-branded
                        e-mails
                      nullable: true
                      type: string
                  required:
                    - companyName
                    - supportEmail
                    - companyUrl
                    - termsOfUsageUrl
                    - bannerLine1
                    - bannerLine2
                    - bannerLine3
                  type: object
              type: object
      summary: Update domain branding
  '/domains/{domainName}/contacts':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    contacts:
                      - city: Leiden
                        companyKvk: '83057825'
                        companyName: Example B.V.
                        companyType: BV
                        country: nl
                        email: example@example.com
                        faxNumber: +31 715241919
                        firstName: John
                        lastName: Doe
                        number: '12'
                        phoneNumber: +31 715241919
                        postalCode: 1337 XD
                        street: Easy street
                        type: registrant
              schema:
                properties:
                  contacts:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Returns a list of all contacts for a domain. One or multiple of the
        following contacts will be shown:


        * Domain name owner;


        * Administrative contact;


        * Technical contact.
      operationId: List all contacts for a domain
      summary: List all contacts for a domain
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain TLD doesn't support 'x' capability
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'Domain ''example.com'' is locked, no modification is allowed'
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Use this API call in case you want to alter domain name contacts after
        the registration of a domain name.


        * Some TLD do not support changing all the fields like the AddressData.
        This will throw an error with a `406` http status code.
      operationId: Update contacts for a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                contacts:
                  - city: Leiden
                    companyKvk: '83057825'
                    companyName: Example B.V.
                    companyType: BV
                    country: nl
                    email: example@example.com
                    faxNumber: +31 715241919
                    firstName: John
                    lastName: Doe
                    number: '12'
                    phoneNumber: +31 715241919
                    postalCode: 1337 XD
                    street: Easy street
                    type: registrant
              properties:
                contacts:
                  type: array
              type: object
      summary: Update contacts for a domain
  '/domains/{domainName}/dns':
    delete:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled.
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Remove a single DNS entry from a domain specified by the `dnsEntry`
        parameter.


        If there are duplicate DNS entries found then a single entry will be
        removed when performing this action.
      operationId: Remove a DNS entry from a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  properties:
                    content:
                      description: >-
                        The content of of the dns entry, for example '10 mail',
                        '127.0.0.1' or 'www'
                      type: string
                    expire:
                      description: >-
                        The expiration period of the dns entry, in seconds. For
                        example 86400 for a day of expiration
                      type: number
                    name:
                      description: 'The name of the dns entry, for example ''@'' or ''www'''
                      type: string
                    type:
                      description: >-
                        The type of dns entry. Possbible types are 'A', 'AAAA',
                        'CNAME', 'MX', 'NS', 'TXT', 'SRV', 'SSHFP' and 'TLSA'
                      type: string
                  required:
                    - name
                    - expire
                    - type
                    - content
                  type: object
              type: object
      summary: Remove a DNS entry from a domain
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    dnsEntries:
                      - content: 127.0.0.1
                        expire: 86400
                        name: www
                        type: A
              schema:
                properties:
                  dnsEntries:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: List all DNS entries for a domain
      operationId: List all DNS entries for a domain
      summary: List all DNS entries for a domain
    patch:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Multiple matches found for DNS entry 'test 300 A'
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Update the content of a single DNS entry, identified by the `name`,
        `expire` and `type` attributes.


        When multiple or none of the current DNS entries matches, the response
        will be an error with http status code `406`.
      operationId: Update single DNS entry
      requestBody:
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  properties:
                    content:
                      description: >-
                        The content of of the dns entry, for example '10 mail',
                        '127.0.0.1' or 'www'
                      type: string
                    expire:
                      description: >-
                        The expiration period of the dns entry, in seconds. For
                        example 86400 for a day of expiration
                      type: number
                    name:
                      description: 'The name of the dns entry, for example ''@'' or ''www'''
                      type: string
                    type:
                      description: >-
                        The type of dns entry. Possbible types are 'A', 'AAAA',
                        'CNAME', 'MX', 'NS', 'TXT', 'SRV', 'SSHFP' and 'TLSA'
                      type: string
                  required:
                    - name
                    - expire
                    - type
                    - content
                  type: object
              type: object
      summary: Update single DNS entry
    post:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid DNS entry type 'B'
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        Add a single DNS entry to the existing zone file.


        In case you want to overwrite the entire zone, please use the method
        below.
      operationId: Add a new single DNS entry to a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  properties:
                    content:
                      description: >-
                        The content of of the dns entry, for example '10 mail',
                        '127.0.0.1' or 'www'
                      type: string
                    expire:
                      description: >-
                        The expiration period of the dns entry, in seconds. For
                        example 86400 for a day of expiration
                      type: number
                    name:
                      description: 'The name of the dns entry, for example ''@'' or ''www'''
                      type: string
                    type:
                      description: >-
                        The type of dns entry. Possbible types are 'A', 'AAAA',
                        'CNAME', 'MX', 'NS', 'TXT', 'SRV', 'SSHFP' and 'TLSA'
                      type: string
                  required:
                    - name
                    - expire
                    - type
                    - content
                  type: object
              type: object
      summary: Add a new single DNS entry to a domain
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '403':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        This method will wipe the entire DNS zone file and replace it with the
        given records. Please note that data is not recoverable using an
        integrated method in the API, so make sure to use this with care.


        There is no hard limit as to the amount of DNS entries that can be added
        at once.


        ::: warning


        <i class="fa fa-warning"></i> **Warning**: all current entries will be
        replaced!
      operationId: Update all DNS entries for a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                dnsEntries:
                  - content: 127.0.0.1
                    expire: 86400
                    name: www
                    type: A
              properties:
                dnsEntries:
                  type: array
              type: object
      summary: Update all DNS entries for a domain
  '/domains/{domainName}/dnssec':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    dnsSecEntries:
                      - algorithm: 8
                        flags: 1
                        keyTag: 67239
                        publicKey: >-
                          AwEAAc31XDE3QWphFz6CR77Hp3ZjDRx7zqe1AXx1QMvqFKzrEKrX4oj2nv8zDquCotbQ1ObHI4KGLRf3ycaq0fYslXFJ1JxLxJUl/lpGvE8OkqdhGW3vj3YS9Mlbf0yYC2bNUY875UgDNRLqWtVSEXO/PCcqr3RIzpngu+6JF/1bfQB7ituFHxoanhAiWOpc24ZAnrhmyIsDwyy1k0iyvVTSyPugnYD/bF7CR7ObQCiuucjwCkSBHJ4gcihHvyPDU/DlsSJeEO/G31zFxzXwHjr3h3mdJE4mQuceS11e5/c9hht6rUL0PEGve1Ygknz+0ruAinlhFYnny2uxES5M9r0FIM=
              schema:
                properties:
                  dnsSecEntries:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: |-
        This API call lists all DNSSEC entries for a domain once set.
         This includes the key tag, flags, algorithm and public key.
      operationId: List DNSSEC entries
      summary: List DNSSEC entries
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
        '409':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNSSEC Entries for domain 'example.com' cannot be edited.
          description: Conflict
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: >-
        This method will replace all DNSSEC entries with the ones that are
        provided via the `dnsSecEntries` parameter.


        ::: warning


        <i class="fa fa-warning"></i> **Warning**: all current entries will be
        replaced!
      operationId: Update all DNSSEC entries
      requestBody:
        content:
          application/json:
            schema:
              example:
                dnsSecEntries:
                  - algorithm: 8
                    flags: 1
                    keyTag: 67239
                    publicKey: >-
                      AwEAAc31XDE3QWphFz6CR77Hp3ZjDRx7zqe1AXx1QMvqFKzrEKrX4oj2nv8zDquCotbQ1ObHI4KGLRf3ycaq0fYslXFJ1JxLxJUl/lpGvE8OkqdhGW3vj3YS9Mlbf0yYC2bNUY875UgDNRLqWtVSEXO/PCcqr3RIzpngu+6JF/1bfQB7ituFHxoanhAiWOpc24ZAnrhmyIsDwyy1k0iyvVTSyPugnYD/bF7CR7ObQCiuucjwCkSBHJ4gcihHvyPDU/DlsSJeEO/G31zFxzXwHjr3h3mdJE4mQuceS11e5/c9hht6rUL0PEGve1Ygknz+0ruAinlhFYnny2uxES5M9r0FIM=
              properties:
                dnsSecEntries:
                  type: array
              type: object
      summary: Update all DNSSEC entries
  '/domains/{domainName}/nameservers':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    nameservers:
                      - hostname: ns0.transip.nl
                        ipv4: null
                        ipv6: null
              schema:
                properties:
                  nameservers:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: This method will list all nameservers currently set for a domain.
      operationId: List nameservers for a domain
      summary: List nameservers for a domain
    put:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: Change the nameservers for a domain.
      operationId: Update nameservers for a domain
      requestBody:
        content:
          application/json:
            schema:
              example:
                nameservers:
                  - hostname: ns0.transip.nl
                    ipv4: null
                    ipv6: null
              properties:
                nameservers:
                  type: array
              type: object
      summary: Update nameservers for a domain
  '/domains/{domainName}/ssl':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    certificates:
                      - certificateId: 12358
                        commonName: example.com
                        expirationDate: '2019-10-24 12:59:59'
                        status: active
              schema:
                properties:
                  certificates:
                    items: {}
                    type: array
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: Retrieves a list of all SSL certificates for a domain.
      operationId: List all SSL certificates
      summary: List all SSL certificates
  '/domains/{domainName}/ssl/{certificateId}':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: The id of the SSL certificate
          example: '12358'
          in: path
          name: certificateId
          required: true
          schema:
            type: number
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    certificate:
                      certificateId: 12358
                      commonName: example.com
                      expirationDate: '2019-10-24 12:59:59'
                      status: active
              schema:
                properties:
                  certificate:
                    properties:
                      certificateId:
                        description: >-
                          The id of the certificate, can be used to retrieve
                          additional info
                        type: number
                      commonName:
                        description: >-
                          The domain name that the SSL certificate is added to.
                          Start with '*.' when the certificate is a wildcard.
                        type: string
                      expirationDate:
                        description: Expiration date
                        type: string
                      status:
                        description: >-
                          The current status, either 'active', 'inactive' or
                          'expired'
                        type: string
                    required:
                      - certificateId
                      - commonName
                      - expirationDate
                      - status
                    type: object
                type: object
          description: OK
          headers: {}
        '404':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Certificate with id '1337' not found
          description: Not Found
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: Retrieves a single SSL certificate by id.
      operationId: Get SSL certificate by id
      summary: Get SSL certificate by id
  '/domains/{domainName}/whois':
    get:
      parameters:
        - description: Domain name
          example: example.com
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    whois: ''
              schema:
                properties:
                  whois:
                    type: string
                type: object
          description: OK
          headers: {}
        '406':
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
          headers: {}
      security:
        - oauth2: []
      tags:
        - Domains
      description: This method will return the WHOIS information for a domain name.
      operationId: Get WHOIS information for a domain name
      summary: Get WHOIS information for a domain name
  /haips:
    get:
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    haips:
                      - description: frontend cluster
                        healthCheckInterval: 3000
                        httpHealthCheckPath: /status.php
                        httpHealthCheckPort: 443
                        httpHealthCheckSsl: true
                        ipAddresses:
                          - 10.3.37.1
                          - 10.3.38.1
                        ipSetup: ipv6to4
                        ipv4Address: 37.97.254.7
                        ipv6Address: '2a01:7c8:3:1337::1'
                        isLoadBalancingEnabled: true
                        loadBalancingMode: cookie
                        name: example-haip
                        ptrRecord: frontend.example.com
                        status: active
                        stickyCookieName: PHPSESSID
[...]
