openapi: 3.0.0
info:
  title: TransIP API
servers:
- url: https://api.transip.nl/v6
tags:
- description: |-
    Welcome to the TransIP API documentation.

    **SOAP V5 API Documentation (deprecated)**

    If you currently use the SOAP API, you may still access the documentation by [clicking here](https://api.transip.nl/docs/transip.nl/package-Transip.html). However we strong advise to switch to the new REST API because the SOAP API has been deprecated.

    **REST API V6**

    With the new REST API, you can manage all of your products in a RESTful way, this means that for most products we allow simple create, update, delete HTTP requests to manage this part of the TransIP product collection.
    This API provides a number of products or actions on subproducts, which we will call resources, an example of such a resource could be the Vps Backup resource, accessible at the following endpoint:
    https://api.transip.nl/v6/vps/{vpsName}/backups

    Each resource can host a number of differenct actions which are accessable by different [HTTP methods](#header-requests). Every resource action has it's own documentation which you can find via the panel on the left.

    All requests and responses use JSON objects and arrays as data format.

    ## Requests

    Every API call can be made using HTTP request to the resource URL and the desired HTTP method.
    All requests should be made using the HTTPS protocol.

    ### Methods

    Method     | Description
    ---------: | -----------------------------------------------------------------------------------------------------------
    **GET**    | Used for retrieving one or more resources, the response attributes can be used to modify the resource.
    **POST**   | Used for creating new resources, see the documentation for the required and optional attributes.
    **PUT**    | Used for updating a resource with new data, all existing data will be removed.
    **PATCH**  | Used for partially updating a resource or calling a resource action like reverting a backup.
    **DELETE** | Used for deleting resources.

    If a **GET** action specifies request attributes, these could be put behind the URL using the http query syntax like:
    `?tags=test`

    ## Responses

    Every response uses an HTTP status code, indicating the success or failure of your request.

    ### HTTP statuses

    In general, when a request succeeds, a 2xx HTTP status code is returned.

    Code      | Reason       | Description
    --------- | ------------ | ---------------------------------------------------------------------------------------------
    **200**   | OK           | GET request succeeded.
    **201**   | Created      | Resource is created using a POST request. The response contains an empty body.
    **204**   | No content   | PUT, PATCH or DELETE request succeeded. The response contains an empty body.

    In case of an error, the following status codes could be returned.

    Code      | Reason                | Description
    --------- | --------------------- | ------------------------------------------------------------------------------------
    **400**   | Bad Request           | The API version or URL is invalid.
    **401**   | Unauthorized          | There is something wrong with your authentication
    **403**   | Forbidden             | You don't have the necessary permissions to perform an operation.
    **404**   | Not Found             | A resource was not found.
    **405**   | Method Not Allowed    | You're using an HTTP method on a resource which does not support it.
    **406**   | Not Acceptable        | One or more required parameters are missing in the request.
    **408**   | Request Timeout       | The request gets a timeout.
    **409**   | Conflict              | Modification is not permitted at the moment. E.g. when a VPS is locked.
    **422**   | Unprocessable Entity  | The input attributes are invalid, e.g. malformed JSON.
    **429**   | Too Many Request      | The rate limit is exceeded.
    **500**   | Internal Server Error | There is a server error.
    **501**   | Not Implemented       | The endpoint is not implemented.

    ## Links

    GET requests may include additional links that can be used to navigate to related resources or pages.

    ### Pages

    Some of the resources allow pagination on their list requests. These would be GET request without a resource identifier, like `/vps` or `/domains`.

    The default page size is unlimited. On the resources that support pagination, you can override this by setting using the `pageSize` parameter.
    For example: `/vps?pageSize=100`

    When pagination is used, the following links will be shown:

    * **first**: The first page of the result set.

    * **previous**: The previous page of the result set.

    * **next**: The next page of the result set.

    * **last**: The last page of the result set.

    These links will only be set when applicable. E.g. when the current page is the last, no 'next' and 'last' links will be present.

    For example, the links section in a response for the first page could look like this:

    ```json
    {
      "_links": {
        "pages": [
          {
            "rel": "next",
            "link": "https://api.transip.nl/v6/domains?pageSize=25&page=2"
          },
          {
            "rel": "last",
            "link": "https://api.transip.nl/v6/domains?pageSize=25&page=9"
          }
        ]
      }
    }
    ```

    ### Related resources

    Responses of GET requests with an identifier may return additional links to related resources.

    For example, when retrieving info about a domain, the following links will be rendered:

    ```json
    {
      "_links": [
        {
          "rel": "self",
          "link": "https://api.transip.nl/v6/domains/example.com"
        },
        {
          "rel": "branding",
          "link": "https://api.transip.nl/v6/domains/example.com/branding"
        },
        {
          "rel": "contacts",
          "link": "https://api.transip.nl/v6/domains/example.com/contacts"
        },
        {
          "rel": "dns",
          "link": "https://api.transip.nl/v6/domains/example.com/dns"
        },
        {
          "rel": "nameservers",
          "link": "https://api.transip.nl/v6/domains/example.com/nameservers"
        },
        {
          "rel": "actions",
          "link": "https://api.transip.nl/v6/domains/example.com/actions"
        }
      ]
    }
    ```

    ## Authentication

    In order to authenticate a request we make use of access tokens.
    These access tokens make use of the <a href="https://jwt.io" target="_blank">JSON Web Token</a> standard.

    To get an access token, you should first generate a key pair using the
    <a href="https://www.transip.nl/cp/account/api" target="_blank">control panel</a>.
    Then download the [PHP authentication class](https://api.transip.nl/downloads/TransIP_AccessToken.tar.gz), and put in your login username and private key.

    You can also do this process manually by sending an HTTP POST request to 'https://api.transip.nl/v6/auth' with a body containing your login and a nonce (any random string), and a signature header.
    The signature header should consist of a sha512 asn.1 hash of the full request body. Encrypt this using a private key that was generated in the control panel.

    **Example signature header**

    ```http
    Signature: W+alqMNFaKxNjRpRzGcjrk5q1PXf50usve85PMHqXDPcDZTmZksVkqAFyR30XtJAXELbg2bukUrckPe7fBR10LvMY55cCHLfKf4sA6tpC8Ck5HcT7uLN27XGiJH3i2oDe/Kb93pU2q9kP+vDIQYJX28xFEHWOibXYgcMksHSH3YiyCWcBiQFS65Jsg5M/XhyU3qMISD7icHmk7/WPw1tSYGiMqJZVjaovIqzskXQcu5iC22wZA+5evj3rlSPj9UGZsDjg+TdP69gGJ2y4nrG3qbM2BhMpUs4E3FDHJW1ZZ3VUko0rwfBBoltAT94NQrA5LCP6pXLyA9eszyouBs8ywQ==
    ```

    **Example body**

    ```json
    {
        "login": "test-user",
        "nonce": "98475920834"
    }
    ```

    Access token have a default expiration time of 30 minutes.
    You can also override this by setting the `expiration_time` property.
    This has a maximum of 1 month.

    Use a header containing your access token in every request:

    ```http
    Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJhcGkudHJhbnNpcC5ubCIsImF1ZCI6IjEwLjQuMTc5LjUiLCJpYXQiOjE0ODI4MzQ5MjIsIm5iZiI6MTQ4MjgzNDkyMiwiZXhwIjoxNDkwNjEwOTIyLCJjdXN0b21lcl9pZCI6MTE1NjMyfQ.GIlHPUt3ErWF0jXM2baXEDAE3V9y2X1ozAihrQMVnccZqS3QuPEsHjSsa8fuoWHM-kjhkfRW8Kc74or4Y83Jc6biVND9rFPJ9075rs2RdiABNFGzF3a3K1Q789O6cTau2kN55-cxAVp-tJbk39vMrJd3PrVQumKy1EYZ4YICNIm7p5D1UwBxkjNPxvesMDlVzpq3gAbnmrEWnZi3VR3TEaUzhK3Sr0MjUN3WdqIQgqLNWDBkgzfZaDebhiBSIc66x0HLz856BKZIzn4uP88Y-x8pl4DtrppZemH7h_p8vYoVC4aohAuViUq3jm-SBLRuwz1pzFM02QQ_dSAXwoTs7A
    ```

    You can also add a custom name to your access tokens. This can be done by setting the `label` property.

    All your active access tokens can be managed in the <a href="https://www.transip.nl/cp/account/api" target="_blank">control panel</a>.
    You can revoke your tokens and generate new ones.

    ## Rate limit

    The rate limit for this API uses a sliding window of 15 minutes.
    Within this window, a maximum of 1000 requests can be made per user.

    Every request returns the following headers, indicating the number of requests made within this window,
    the amount of requests remaining and the reset timestamp.

    ```http
    X-Rate-Limit-Limit: 1000
    X-Rate-Limit-Remaining: 650
    X-Rate-Limit-Reset: 1485875578
    ```

    When this rate limit is exceeded, the response contains an error with HTTP status code: `429: Too many requests`.

    ## Test mode

    In test mode every `GET` request is allowed, but all modification requests are fake, they are validated, but the actual modification is skipped.
    This means that you are able to test your api calls without doing any modification to your production environment.
    There are two different ways to test the api, you could use our test mode token or you could provide a test parameter using your own token (and thus play with your own data).

    ### Demo token

    If you use the following authorization header, you authenticate yourself as the transip demo user in test mode.

    ```http
    Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJhcGkudHJhbnNpcC5ubCIsImF1ZCI6IjEwLjQuMTc5LjUiLCJpYXQiOjE0ODI4MzQ5MjIsIm5iZiI6MTQ4MjgzNDkyMiwiZXhwIjoxNDkwNjEwOTIyLCJjdXN0b21lcl9pZCI6MTE1NjMyfQ.GIlHPUt3ErWF0jXM2baXEDAE3V9y2X1ozAihrQMVnccZqS3QuPEsHjSsa8fuoWHM-kjhkfRW8Kc74or4Y83Jc6biVND9rFPJ9075rs2RdiABNFGzF3a3K1Q789O6cTau2kN55-cxAVp-tJbk39vMrJd3PrVQumKy1EYZ4YICNIm7p5D1UwBxkjNPxvesMDlVzpq3gAbnmrEWnZi3VR3TEaUzhK3Sr0MjUN3WdqIQgqLNWDBkgzfZaDebhiBSIc66x0HLz856BKZIzn4uP88Y-x8pl4DtrppZemH7h_p8vYoVC4aohAuViUq3jm-SBLRuwz1pzFM02QQ_dSAXwoTs7A
    ```

    ### Test parameter

    By providing the test parameter on any of your requests you can use the test mode while you are authenticated as your own user.
    To give you an example, when you request a `DELETE` on a vps with the following url https://api.transip.nl/v6/vps/test-vps2?test=1 the actual delete is skipped. The same goes for any other type of modification.

    ## Order Requests

    Some API calls, as the pre-generated would automatically be accepted, will generate an invoice.
    In case direct debit is activated on the TransIP customer account associated with the API key, payment will occur at a later stage.
    This is mostly the case with products and add-ons with automatic provisioning.
    In order to prevent accidental orders, each API call that generates an invoice has a warning outlined below its description in this API documentation.
  name: Introduction
- name: General
- name: Account
- name: Domains
- name: VPS
- name: HA-IP
- name: Colocations
paths:
  /api-test:
    get:
      description: Returns pong. A simple test resource to make sure everything is
        working
      operationId: API Test
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ping: pong
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
      security:
      - oauth2: []
      summary: API Test
      tags:
      - General
  /availability-zones:
    get:
      description: Lists the available AvailabilityZones.
      operationId: List available AvailabilityZones
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    availabilityZones:
                    - country: nl
                      isDefault: true
                      name: ams0
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
      security:
      - oauth2: []
      summary: List available AvailabilityZones
      tags:
      - General
  /big-storages:
    get:
      description: |-
        Returns an array of all Big Storages in the given account.

        After all Big Storages have been returned as an array, you can extract it and use a specific Big Storage for the other API calls documented below.

        Should you only want to get the big storages attached to a specific VPS, set the `vpsName` parameter and only big storages that are attached to the given vps will be shown like https://api.transip.nl/v6/big-storages?vpsName=example-vps

        ::: note

        This method supports pagination, using this methods you can limit the amount of big storages returned by the api, which might be usefull if you expect a lot of response objects and you want to spread that over multiple requests. See the [documentation on pages](#header-pages) for more information on how to use this functionality.
      operationId: List all big storages
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Filters on a given vps name.
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    bigStorages:
                    - availabilityZone: ams0
                      description: Big storage description
                      diskSize: 2147483648
                      isLocked: false
                      name: example-bigstorage
                      offsiteBackups: true
                      status: active
                      vpsName: example-vps
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: OK
      security:
      - oauth2: []
      summary: List all big storages
      tags:
      - VPS
    post:
      description: |-
        With this method you are able to upgrade a bigstorage diskSize or enable backups.

        The minimum size is 2 TB and storage can be extended with up to maximum of 40 TB. Make sure to use a multitude of 2 TB.

        Optionally, to create back-ups of your Big Storage, enable off-site back-ups. We highly recommend activating back-ups.

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: This API call will create an invoice!
      operationId: Upgrade big storage
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              example:
                bigStorageName: example-bigstorage
                offsiteBackups: true
                size: 8
              properties:
                bigStorageName:
                  description: The name of the bigstorage to upgrade
                  type: string
                offsiteBackups:
                  description: Whether to order offsite backups, omit this to use
                    current value
                  type: boolean
                size:
                  description: The size of the big storage in TB's, use a multitude
                    of 2. The maximum size is 40.
                  type: number
              type: object
      responses:
        "201":
          description: Created
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Upgrade size '2' is smaller than current size '4'
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Upgrade big storage
      tags:
      - VPS
  /big-storages/{bigStorageName}:
    delete:
      description: |-
        Cancels a big storage for the specified ‘endTime’. You can set the `endTime` attribute to `end` or `immediately`, this has the following implications:

        * **end**: The Big Storage will be terminated from the end date of the agreement as can be found in the applicable quote;

        * **immediately**: The Big Storage will be terminated immediately.

         Note that canceling a Big Storage will wipe all data stored on it as well as off-site back-ups as well if these are activated.
      operationId: Cancel big storage
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              example:
                endTime: end
              properties:
                endTime:
                  description: Cancellation time, either 'end' or 'immediately'
                  type: string
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid cancellation time: ''now'', please
                      use either ''end'' or ''immediately'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Product already has cancellation pending
          description: Conflict
      security:
      - oauth2: []
      summary: Cancel big storage
      tags:
      - VPS
    get:
      description: Get information about a specific Big Storage and its current status.
        If the Big Storage is attached to a VPS, the output will contain the VPS name
        it’s attached to.
      operationId: Get big storage by name
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    bigStorage:
                      availabilityZone: ams0
                      description: Big storage description
                      diskSize: 2147483648
                      isLocked: false
                      name: example-bigstorage
                      offsiteBackups: true
                      status: active
                      vpsName: example-vps
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage with name 'example-bigstorage' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Get big storage by name
      tags:
      - VPS
    put:
      description: |-
        This API calls allows for altering a big storage in several ways outlined below:

        * Changing the description of a Big Storage;

        * One Big Storages can only be attached to one VPS at a time;

        * One VPS can have a maximum of 10 bigstorages attached;

        * Set the `vpsName` property to the VPS name to attach to for attaching Big Storage;

        * Set the `vpsName` property to null to detach the Big Storage from the currently attached VPS.
      operationId: Update big storage
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              example:
                bigStorage:
                  availabilityZone: ams0
                  description: Big storage description
                  diskSize: 2147483648
                  isLocked: false
                  name: example-bigstorage
                  offsiteBackups: true
                  status: active
                  vpsName: example-vps
              properties:
                bigStorage:
                  $ref: '#/components/schemas/inline_response_200_3_bigStorage'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: VPS 'example-vps' is blocked, no modification is allowed
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: VPS with name 'example-vps' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Please supply the '`description` or `vpsName`' parameter
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: VPS 'example-vps' is customer locked, no modification is
                      allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Update big storage
      tags:
      - VPS
  /big-storages/{bigStorageName}/backups:
    get:
      description: Using this API call, you are able to list all backups belonging
        to a specific big storage.
      operationId: List backups for a big storage
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    backups:
                    - availabilityZone: ams0
                      dateTimeCreate: 2019-12-31 09:13:55
                      diskSize: 4294967296
                      id: 1583
                      status: active
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK
      security:
      - oauth2: []
      summary: List backups for a big storage
      tags:
      - VPS
  /big-storages/{bigStorageName}/backups/{backupId}:
    patch:
      description: To revert a backup from a big storage, retrieve the `backupId`
        from the [backups](#vps-backups-get-1) resource. Please note this is only
        possible when any backups are created with the off-site backups feature, otherwise
        no backups will be made nor listed.
      operationId: Revert a big storage backup
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the backup
        example: "625584"
        explode: false
        in: path
        name: backupId
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              example:
                action: revert
              properties:
                action:
                  type: string
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Backup with id '1337' not found
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Actions on Backup '123' are temporary disabled
          description: Conflict
      security:
      - oauth2: []
      summary: Revert a big storage backup
      tags:
      - VPS
  /big-storages/{bigStorageName}/usage:
    get:
      description: |-
        Get the usage statistics for a big storage. You can specify a `dateTimeStart` and `dateTimeEnd` parameter in the UNIX timestamp format. When none given, traffic for the past 24 hours are returned. The maximum period is one month.

        When the big storage is not attached to a vps, there are no usage statistics available. Therefore, the response returned will be a 406 exception. If the big storage is re-attached to another vps then the old statistics are no longer available.
      operationId: Get big storage usage statistics
      parameters:
      - description: The name of the big storage
        explode: false
        in: path
        name: bigStorageName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              example:
                dateTimeEnd: 1490064468
                dateTimeStart: 1490023668
              properties:
                dateTimeEnd:
                  description: The end date of the usage statistics
                  type: number
                dateTimeStart:
                  description: The start date of the usage statistics
                  type: number
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    usage:
                    - date: 1574783109
                      iopsRead: 0.27
                      iopsWrite: 0.13
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: OK
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Big storage 'example-bigstorage' is not attached to a VPS
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Get big storage usage statistics
      tags:
      - VPS
  /colocations:
    get:
      description: Gets a list of colocations currently registered in your account.
        For every colocation service in your account, the corresponding name and IP
        range(s) are returned.
      operationId: List all colocations
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    colocations:
                    - ipRanges:
                      - 2a01:7c8:c038:6::/64
                      name: example2
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: OK
      security:
      - oauth2: []
      summary: List all colocations
      tags:
      - Colocations
  /colocations/{colocationName}:
    get:
      description: Get a information about a specific colocation.
      operationId: Get colocation
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    colocation:
                      ipRanges:
                      - 2a01:7c8:c038:6::/64
                      name: example2
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Get colocation
      tags:
      - Colocations
  /colocations/{colocationName}/ip-addresses:
    get:
      description: List IP addresses based on the colocation they’re assigned to.
        The address itself, its subnet mask, gateway and DNS resolvers in that range.
      operationId: List IP addresses for a colocation
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ipAddresses:
                    - address: 37.97.254.6
                      dnsResolvers:
                      - 195.8.195.8
                      - 195.135.195.135
                      gateway: 37.97.254.1
                      reverseDns: example.com
                      subnetMask: 255.255.255.0
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
      security:
      - oauth2: []
      summary: List IP addresses for a colocation
      tags:
      - Colocations
    post:
      description: |-
        Create an IP address for a colocation by specifying the colocation name the IP address should be assigned to. Note the IP address should be in a range you own.

        Currently, new IP addresses have to be requested manually through the support system.

        Optionally, you can also set the reverse DNS by specifying the `reverseDns` attribute.
      operationId: Create a new IP address for a colocation
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              example:
                ipAddress: 2a01:7c8:3:1337::6
                reverseDns: example.com
              properties:
                ipAddress:
                  description: The IP address to register to the colocation
                  type: string
                reverseDns:
                  description: Reverse DNS, also known as the PTR record
                  type: string
              type: object
      responses:
        "201":
          description: Created
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '149.210.215.249' already exists
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Create a new IP address for a colocation
      tags:
      - Colocations
  /colocations/{colocationName}/ip-addresses/{ipAddress}:
    delete:
      description: Delete an IP addresses for a colocation. The IP address will be
        removed.
      operationId: Delete an IP address
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      - description: Colocation IP address
        example: 149.210.215.249
        explode: false
        in: path
        name: ipAddress
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Delete an IP address
      tags:
      - Colocations
    get:
      description: |-
        Get IP addresses information for a specific colocation and IP address.

        The address itself, its subnet mask, gateway and DNS resolvers in that range.
      operationId: Get IP addresses for a colocation
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      - description: Colocation IP address
        example: 149.210.215.249
        explode: false
        in: path
        name: ipAddress
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ipAddress:
                      address: 37.97.254.6
                      dnsResolvers:
                      - 195.8.195.8
                      - 195.135.195.135
                      gateway: 37.97.254.1
                      reverseDns: example.com
                      subnetMask: 255.255.255.0
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Get IP addresses for a colocation
      tags:
      - Colocations
    put:
      description: |-
        Sets a reverse DNS name for an IP address.

        Upon adding a new IP address for a colocation, you’re able to set the reverse DNS instantly along with the API call.
      operationId: Set reverse DNS for an IP address
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      - description: Colocation IP address
        example: 149.210.215.249
        explode: false
        in: path
        name: ipAddress
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              example:
                ipAddress:
                  address: 37.97.254.6
                  dnsResolvers:
                  - 195.8.195.8
                  - 195.135.195.135
                  gateway: 37.97.254.1
                  reverseDns: example.com
                  subnetMask: 255.255.255.0
              properties:
                ipAddress:
                  $ref: '#/components/schemas/_colocations__colocationName__ip_addresses__ipAddress__ipAddress'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '149.210.215.249' does not belong to a range
                      this user can modify
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: IP address '8.8.8.8' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Set reverse DNS for an IP address
      tags:
      - Colocations
  /colocations/{colocationName}/remote-hands:
    post:
      description: Send a request to the datacenter engineer to perform simple task
        on your server, e.g. a powercycle.
      operationId: Create a Remotehands request
      parameters:
      - description: Colocation name
        example: example2
        explode: false
        in: path
        name: colocationName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              example:
                remoteHands:
                  coloName: example2
                  contactName: Herman Kaakdorst
                  expectedDuration: 15
                  instructions: Reboot server with label Loadbalancer0
                  phoneNumber: +31 612345678
              properties:
                remoteHands:
                  $ref: '#/components/schemas/_colocations__colocationName__remote_hands_remoteHands'
              type: object
      responses:
        "201":
          description: Created
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Colocation with name 'lala' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Create a Remotehands request
      tags:
      - Colocations
  /domain-availability:
    get:
      description: Check the availability for multiple domain names.
      operationId: Check the availability for multiple domain names
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              example:
                domainNames:
                - example.com
                - example.nl
              properties:
                domainNames:
                  description: array of domainNames to check
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    availability:
                    - actions:
                      - register
                      domainName: example.com
                      status: free
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: OK
      security:
      - oauth2: []
      summary: Check the availability for multiple domain names
      tags:
      - Domains
  /domain-availability/{domainName}:
    get:
      description: This method allows you to check the availability for a domain name.
      operationId: Check availability for a domain name
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    availability:
                      actions:
                      - register
                      domainName: example.com
                      status: free
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: OK
      security:
      - oauth2: []
      summary: Check availability for a domain name
      tags:
      - Domains
  /domains:
    get:
      description: |-
        This API call allows you to list all domain names in your TransIP account.

        Should you want to filter the domains list by a custom tag, set the `tag` parameter and only domains with the tag will be returned like https://api.transip.nl/v6/domains?tag=customTag,anotherTag

        ::: note

        This method supports pagination, using this methods you can limit the amount of domains returned by the api, which might be usefull if you expect a lot of response objects and you want to spread that over multiple requests. See the [documentation on pages](#header-pages) for more information on how to use this functionality.
      operationId: List all domains
      requestBody:
        $ref: '#/components/requestBodies/List_all_domainsTags'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    domains:
                    - tags:
                      - customTag
                      - anotherTag
                      authCode: kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                      cancellationDate: 2020-01-01 12:00:00
                      cancellationStatus: signed
                      isDnsOnly: false
                      isTransferLocked: false
                      isWhitelabel: false
                      name: example.com
                      registrationDate: 2016-01-01
                      renewalDate: 2020-01-01
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: OK
      security:
      - oauth2: []
      summary: List all domains
      tags:
      - Domains
    post:
      description: |-
        Transfer a domain to TransIP using its transfer key (or ‘EPP code’) by specifying it in the `authCode` parameter.

        You can override the contacts, nameservers and DNS entries immediately, but is not mandatory.

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: This API call will create an invoice!
      operationId: Transfer a domain
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              example:
                authCode: CYPMaVH+9MRjXGBc3InzHs7vNSUBPOjwpZm3GO+iDLHnFLtiP7sOKqW5JD1WeUpevZM6q1qS5YH9dGSp
                contacts:
                - city: Leiden
                  companyKvk: "83057825"
                  companyName: Example B.V.
                  companyType: BV
                  country: nl
                  email: example@example.com
                  faxNumber: +31 715241919
                  firstName: John
                  lastName: Doe
                  number: "12"
                  phoneNumber: +31 715241919
                  postalCode: 1337 XD
                  street: Easy street
                  type: registrant
                dnsEntries:
                - content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
                domainName: example.com
                nameservers:
                - hostname: ns0.transip.nl
                  ipv4: null
                  ipv6: null
              properties:
                authCode:
                  description: The auth code of the domain.
                  type: string
                contacts:
                  type: array
                dnsEntries:
                  type: array
                domainName:
                  type: string
                nameservers:
                  type: array
              type: object
      responses:
        "201":
          description: Created
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: The domain 'example.com' is not registered and thus cannot
                      be transferred
          description: Conflict
      security:
      - oauth2: []
      summary: Transfer a domain
      tags:
      - Domains
  /domains/{domainName}:
    delete:
      description: |-
        Cancels the specified domain. Depending on the time you want to cancel the domain, specify 'end' or 'immediately' for the `endTime` attribute.

        Upon canceling a domain name (or any other product) it will be shown under [cancellations](https://www.transip.nl/cp/account/opzeggingen/) in the TransIP control panel. By using the API method outlined above ([Retrieve an existing domain](#domains-domains-get-1)) you’ll be able to see if the domain name has been canceled yet.
      operationId: Cancel a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              example:
                endTime: end
              properties:
                endTime:
                  description: Cancellation time, either 'end' or 'immediately'
                  type: string
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: The domain 'example.com' has additional products attached,
                      and thus can't be cancelled
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid cancellation time: ''now'', please
                      use either ''end'' or ''immediately'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: The domain 'example.com' already has a cancellation pending
          description: Conflict
      security:
      - oauth2: []
      summary: Cancel a domain
      tags:
      - Domains
    get:
      description: Show information about a specific domain name.
      operationId: Retrieve an existing domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    domain:
                      tags:
                      - customTag
                      - anotherTag
                      authCode: kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                      cancellationDate: 2020-01-01 12:00:00
                      cancellationStatus: signed
                      isDnsOnly: false
                      isTransferLocked: false
                      isWhitelabel: false
                      name: example.com
                      registrationDate: 2016-01-01
                      renewalDate: 2020-01-01
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Retrieve an existing domain
      tags:
      - Domains
    put:
      description: |-
        Update an existing domain. To apply or release a lock, change the `isTransferLocked` attribute. To change tags, update the `tags` attribute.

        You’re able to add the domain name under a whitelabel account. Note this whitelabel functionality is available only for .nl domains. Furthermore, the whitelabel account must be activated first at regular charge. Upon activating, newly registered domains with the `isWhitelabel` attribute set to ‘true’ will be shown under a whitelabel registrar name.

        For more information about whitelabel domain name registration at TransIP, please see the documentation regarding [whitelabel](#domains-whitelabel-post).

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: When adding the domain to your whitelabel, it cannot be reverted!
      operationId: Update a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              example:
                domain:
                  tags:
                  - customTag
                  - anotherTag
                  authCode: kJqfuOXNOYQKqh/jO4bYSn54YDqgAt1ksCe+ZG4Ud4nfpzw8qBsfR2JqAj7Ce12SxKcGD09v+yXd6lrm
                  cancellationDate: 2020-01-01 12:00:00
                  cancellationStatus: signed
                  isDnsOnly: false
                  isTransferLocked: false
                  isWhitelabel: false
                  name: example.com
                  registrationDate: 2016-01-01
                  renewalDate: 2020-01-01
              properties:
                domain:
                  $ref: '#/components/schemas/_domains__domainName__domain'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: You do not have a whitelabel account yet, please order
                      one first
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain 'example.com' has action 'changeNameservers' running,
                      no modification is allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Update a domain
      tags:
      - Domains
  /domains/{domainName}/actions:
    delete:
      description: With this method you are able to cancel a domain action while it
        is still pending or being processed.
      operationId: Cancel domain action
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unable to cancel the running action for 'example.com' at
                      this time
          description: Conflict
      security:
      - oauth2: []
      summary: Cancel domain action
      tags:
      - Domains
    get:
      description: |-
        Domain actions are kept track of by TransIP. Domain actions include, for example, changing nameservers.

        When no action is running the action's `name` parameter will be `null`.

        The action message will contain a failure message, please provide the information to fix this using the method below.
      operationId: Get current domain action
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    action:
                      hasFailed: false
                      message: success
                      name: changeNameservers
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Get current domain action
      tags:
      - Domains
    patch:
      description: Domain actions can fail due to wrong information, this method allows
        you to retry an action. You only have to specify information that is required
        for the action.
      operationId: Retry domain action
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              example:
                contacts:
                - city: Leiden
                  companyKvk: "83057825"
                  companyName: Example B.V.
                  companyType: BV
                  country: nl
                  email: example@example.com
                  faxNumber: +31 715241919
                  firstName: John
                  lastName: Doe
                  number: "12"
                  phoneNumber: +31 715241919
                  postalCode: 1337 XD
                  street: Easy street
                  type: registrant
                dnsEntries:
                - content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
                nameservers:
                - hostname: ns0.transip.nl
                  ipv4: null
                  ipv6: null
              properties:
                authCode:
                  type: string
                contacts:
                  type: array
                dnsEntries:
                  type: array
                nameservers:
                  type: array
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain 'example.com' has action 'changeNameservers' running,
                      no modification is allowed.
          description: Conflict
      security:
      - oauth2: []
      summary: Retry domain action
      tags:
      - Domains
  /domains/{domainName}/branding:
    get:
      description: |-
        Get domain branding information for a given domain name.

        Please note this API call does not return the whitelabel account status (just the branding).

        Branding options can be altered from the TransIP control panel or by using the API call outlined below.
      operationId: Get domain branding
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    branding:
                      bannerLine1: Example B.V.
                      bannerLine2: Example
                      bannerLine3: http://www.example.com/products
                      companyName: Example B.V.
                      companyUrl: www.example.com
                      supportEmail: admin@example.com
                      termsOfUsageUrl: www.example.com/tou
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Get domain branding
      tags:
      - Domains
    put:
      description: |-
        Domain name branding can be set or altered using this API call. Among others, you can set your own company name and company URL, replacing the default values which are usually TransIP contact details.

        Changes will not apply to previously registered domain names. The new settings will, in most cases, only show up for newly registered domain names after the changes were made.
      operationId: Update domain branding
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              example:
                branding:
                  bannerLine1: Example B.V.
                  bannerLine2: Example
                  bannerLine3: http://www.example.com/products
                  companyName: Example B.V.
                  companyUrl: www.example.com
                  supportEmail: admin@example.com
                  termsOfUsageUrl: www.example.com/tou
              properties:
                branding:
                  $ref: '#/components/schemas/inline_response_200_15_branding'
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain TLD doesn't support branding
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain 'example.com' has action 'changeNameservers' running,
                      no modification is allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Update domain branding
      tags:
      - Domains
  /domains/{domainName}/contacts:
    get:
      description: |-
        Returns a list of all contacts for a domain. One or multiple of the following contacts will be shown:

        * Domain name owner;

        * Administrative contact;

        * Technical contact.
      operationId: List all contacts for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    contacts:
                    - city: Leiden
                      companyKvk: "83057825"
                      companyName: Example B.V.
                      companyType: BV
                      country: nl
                      email: example@example.com
                      faxNumber: +31 715241919
                      firstName: John
                      lastName: Doe
                      number: "12"
                      phoneNumber: +31 715241919
                      postalCode: 1337 XD
                      street: Easy street
                      type: registrant
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: List all contacts for a domain
      tags:
      - Domains
    put:
      description: |-
        Use this API call in case you want to alter domain name contacts after the registration of a domain name.

        * Some TLD do not support changing all the fields like the AddressData. This will throw an error with a `406` http status code.
      operationId: Update contacts for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              example:
                contacts:
                - city: Leiden
                  companyKvk: "83057825"
                  companyName: Example B.V.
                  companyType: BV
                  country: nl
                  email: example@example.com
                  faxNumber: +31 715241919
                  firstName: John
                  lastName: Doe
                  number: "12"
                  phoneNumber: +31 715241919
                  postalCode: 1337 XD
                  street: Easy street
                  type: registrant
              properties:
                contacts:
                  type: array
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain TLD doesn't support 'x' capability
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain 'example.com' is locked, no modification is allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Update contacts for a domain
      tags:
      - Domains
  /domains/{domainName}/dns:
    delete:
      description: |-
        Remove a single DNS entry from a domain specified by the `dnsEntry` parameter.

        If there are duplicate DNS entries found then a single entry will be removed when performing this action.
      operationId: Remove a DNS entry from a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  $ref: '#/components/schemas/_domains__domainName__dns_dnsEntry'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled.
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Remove a DNS entry from a domain
      tags:
      - Domains
    get:
      description: List all DNS entries for a domain
      operationId: List all DNS entries for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    dnsEntries:
                    - content: 127.0.0.1
                      expire: 86400
                      name: www
                      type: A
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: List all DNS entries for a domain
      tags:
      - Domains
    patch:
      description: |-
        Update the content of a single DNS entry, identified by the `name`, `expire` and `type` attributes.

        When multiple or none of the current DNS entries matches, the response will be an error with http status code `406`.
      operationId: Update single DNS entry
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  $ref: '#/components/schemas/_domains__domainName__dns_dnsEntry'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Multiple matches found for DNS entry 'test 300 A'
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Update single DNS entry
      tags:
      - Domains
    post:
      description: |-
        Add a single DNS entry to the existing zone file.

        In case you want to overwrite the entire zone, please use the method below.
      operationId: Add a new single DNS entry to a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              example:
                dnsEntry:
                  content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntry:
                  $ref: '#/components/schemas/_domains__domainName__dns_dnsEntry'
              type: object
      responses:
        "201":
          description: Created
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid DNS entry type 'B'
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Add a new single DNS entry to a domain
      tags:
      - Domains
    put:
      description: |-
        This method will wipe the entire DNS zone file and replace it with the given records. Please note that data is not recoverable using an integrated method in the API, so make sure to use this with care.

        There is no hard limit as to the amount of DNS entries that can be added at once.

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: all current entries will be replaced!
      operationId: Update all DNS entries for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              example:
                dnsEntries:
                - content: 127.0.0.1
                  expire: 86400
                  name: www
                  type: A
              properties:
                dnsEntries:
                  type: array
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNS Entry changes have temporarily been disabled
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Update all DNS entries for a domain
      tags:
      - Domains
  /domains/{domainName}/dnssec:
    get:
      description: |-
        This API call lists all DNSSEC entries for a domain once set.
         This includes the key tag, flags, algorithm and public key.
      operationId: List DNSSEC entries
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    dnsSecEntries:
                    - algorithm: 8
                      flags: 1
                      keyTag: 67239
                      publicKey: AwEAAc31XDE3QWphFz6CR77Hp3ZjDRx7zqe1AXx1QMvqFKzrEKrX4oj2nv8zDquCotbQ1ObHI4KGLRf3ycaq0fYslXFJ1JxLxJUl/lpGvE8OkqdhGW3vj3YS9Mlbf0yYC2bNUY875UgDNRLqWtVSEXO/PCcqr3RIzpngu+6JF/1bfQB7ituFHxoanhAiWOpc24ZAnrhmyIsDwyy1k0iyvVTSyPugnYD/bF7CR7ObQCiuucjwCkSBHJ4gcihHvyPDU/DlsSJeEO/G31zFxzXwHjr3h3mdJE4mQuceS11e5/c9hht6rUL0PEGve1Ygknz+0ruAinlhFYnny2uxES5M9r0FIM=
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: List DNSSEC entries
      tags:
      - Domains
    put:
      description: |-
        This method will replace all DNSSEC entries with the ones that are provided via the `dnsSecEntries` parameter.

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: all current entries will be replaced!
      operationId: Update all DNSSEC entries
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              example:
                dnsSecEntries:
                - algorithm: 8
                  flags: 1
                  keyTag: 67239
                  publicKey: AwEAAc31XDE3QWphFz6CR77Hp3ZjDRx7zqe1AXx1QMvqFKzrEKrX4oj2nv8zDquCotbQ1ObHI4KGLRf3ycaq0fYslXFJ1JxLxJUl/lpGvE8OkqdhGW3vj3YS9Mlbf0yYC2bNUY875UgDNRLqWtVSEXO/PCcqr3RIzpngu+6JF/1bfQB7ituFHxoanhAiWOpc24ZAnrhmyIsDwyy1k0iyvVTSyPugnYD/bF7CR7ObQCiuucjwCkSBHJ4gcihHvyPDU/DlsSJeEO/G31zFxzXwHjr3h3mdJE4mQuceS11e5/c9hht6rUL0PEGve1Ygknz+0ruAinlhFYnny2uxES5M9r0FIM=
              properties:
                dnsSecEntries:
                  type: array
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: DNSSEC Entries for domain 'example.com' cannot be edited.
          description: Conflict
      security:
      - oauth2: []
      summary: Update all DNSSEC entries
      tags:
      - Domains
  /domains/{domainName}/nameservers:
    get:
      description: This method will list all nameservers currently set for a domain.
      operationId: List nameservers for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    nameservers:
                    - hostname: ns0.transip.nl
                      ipv4: null
                      ipv6: null
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: List nameservers for a domain
      tags:
      - Domains
    put:
      description: Change the nameservers for a domain.
      operationId: Update nameservers for a domain
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          application/json:
            schema:
              example:
                nameservers:
                - hostname: ns0.transip.nl
                  ipv4: null
                  ipv6: null
              properties:
                nameservers:
                  type: array
              type: object
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Update nameservers for a domain
      tags:
      - Domains
  /domains/{domainName}/ssl:
    get:
      description: Retrieves a list of all SSL certificates for a domain.
      operationId: List all SSL certificates
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    certificates:
                    - certificateId: 12358
                      commonName: example.com
                      expirationDate: 2019-10-24 12:59:59
                      status: active
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Domain with name 'example.com' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: List all SSL certificates
      tags:
      - Domains
  /domains/{domainName}/ssl/{certificateId}:
    get:
      description: Retrieves a single SSL certificate by id.
      operationId: Get SSL certificate by id
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the SSL certificate
        example: "12358"
        explode: false
        in: path
        name: certificateId
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    certificate:
                      certificateId: 12358
                      commonName: example.com
                      expirationDate: 2019-10-24 12:59:59
                      status: active
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Certificate with id '1337' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Get SSL certificate by id
      tags:
      - Domains
  /domains/{domainName}/whois:
    get:
      description: This method will return the WHOIS information for a domain name.
      operationId: Get WHOIS information for a domain name
      parameters:
      - description: Domain name
        example: example.com
        explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    whois: ""
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
          description: OK
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid domain name: ''power-ranger$.nl'''
          description: Not Acceptable
      security:
      - oauth2: []
      summary: Get WHOIS information for a domain name
      tags:
      - Domains
  /haips:
    get:
      description: |-
        Lists all HA-IPs currently registered in your account.

        By looping through the entire output and splitting the array, you can gather information about a specific HA-IP. However, we do not recommend getting the entire amount of HA-IPs in case you already know the HA-IP name - you can get the same array without the need to loop through all HA-IPs. Use the [ha-ip-get](#ha-ip-ha-ip-get-1) method for this.

        ::: note

        This method supports pagination, using this method you can limit the amount of HA-IPs returned by the api, which might be useful if you expect a lot of response objects and you want to spread that over multiple requests. See the [documentation on pages](#header-pages) for more information on how to use this functionality.
      operationId: List all HA-IPs
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    haips:
                    - description: frontend cluster
                      healthCheckInterval: 3000
                      httpHealthCheckPath: /status.php
                      httpHealthCheckPort: 443
                      httpHealthCheckSsl: true
                      ipAddresses:
                      - 10.3.37.1
                      - 10.3.38.1
                      ipSetup: ipv6to4
                      ipv4Address: 37.97.254.7
                      ipv6Address: 2a01:7c8:3:1337::1
                      isLoadBalancingEnabled: true
                      loadBalancingMode: cookie
                      name: example-haip
                      ptrRecord: frontend.example.com
                      status: active
                      stickyCookieName: PHPSESSID
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
          description: OK
      security:
      - oauth2: []
      summary: List all HA-IPs
      tags:
      - HA-IP
    post:
      description: |-
        Order a HA-IP. After assigning the HA-IP to an IP (which can be done through the API as well) all incoming TCP traffic will be routed to the specified IP addresses (only transip VPS IPs are allowed).

        ::: warning

        <i class="fa fa-warning"></i> **Warning**: This API call will create an invoice!
      operationId: Order a new HA-IP
      requestBody:
        $ref: '#/components/requestBodies/inline_object_21'
        content:
          application/json:
            schema:
              example:
                description: myhaip01
                productName: haip-pro-contract
              properties:
                description:
                  description: Optional description for the the HA-IP, this you can
                    use to identify your HA-IP once created
                  type: string
                productName:
                  description: Required HA-IP product name to order
                  type: string
              type: object
      responses:
        "201":
          description: Created
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP product 'haip-extreme-contract' is not found
          description: Not Found
      security:
      - oauth2: []
      summary: Order a new HA-IP
      tags:
      - HA-IP
  /haips/{haipName}:
    delete:
      description: |-
        With this method you are able to cancel a HA-IP.

        When specifying 'end' for `endTime`, the HA-IP will be canceled at the end of the contract period. In case you specify 'immediately' the HA-IP will be detached from any IPs it's currently attached to and traffic will no longer be proxied.
      operationId: Cancel a HA-IP
      parameters:
      - description: The HA-IP name
        example: example-haip
        explode: false
        in: path
        name: haipName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_23'
        content:
          application/json:
            schema:
              example:
                endTime: end
              properties:
                endTime:
                  description: Cancellation time, either 'end' or 'immediately'
                  type: string
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP 'example-haip' is blocked, no modification is allowed
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP with name 'example-haip' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid cancellation time: ''now'', please
                      use either ''end'' or ''immediately'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP 'example-haip' has an action running, no modification
                      is allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Cancel a HA-IP
      tags:
      - HA-IP
    get:
      description: Get information about a specific HA-IP such as the IP(s) it's currently
        assigned to and the IPv4 and IPv6 address of the HA-IP.
      operationId: Get HA-IP info
      parameters:
      - description: The HA-IP name
        example: example-haip
        explode: false
        in: path
        name: haipName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    haip:
                      description: frontend cluster
                      healthCheckInterval: 3000
                      httpHealthCheckPath: /status.php
                      httpHealthCheckPort: 443
                      httpHealthCheckSsl: true
                      ipAddresses:
                      - 10.3.37.1
                      - 10.3.38.1
                      ipSetup: ipv6to4
                      ipv4Address: 37.97.254.7
                      ipv6Address: 2a01:7c8:3:1337::1
                      isLoadBalancingEnabled: true
                      loadBalancingMode: cookie
                      name: example-haip
                      ptrRecord: frontend.example.com
                      status: active
                      stickyCookieName: PHPSESSID
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
          description: OK
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP 'example-haip' is blocked, no modification is allowed
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP with name 'example-haip' not found
          description: Not Found
      security:
      - oauth2: []
      summary: Get HA-IP info
      tags:
      - HA-IP
    put:
      description: |-
        This API calls allows for altering a HA-IP in several ways outlined below:

        * Set the description of a HA-IP;

        * Set the PTR record;

        * Set the httpHealthCheckPath, must start with a /;

        * Set the httpHealthCheckPort, the port must be configured on the HA-IP [PortConfigurations](#ha-ip-ha-ip-port-configurations).

         Load balancing options (`loadBalancingMode`):

        * **roundrobin**: forward to next address everytime;

        * **cookie**: forward to a fixed server, based on the cookie;

        * **source**: choose a server to forward to based on the source address.

         Ip setup options (`ipSetup`):

        * **both**: accept ipv4 and ipv6 and forward them to seperate ipv4 and ipv6 addresses;

        * **noipv6**: do not accept ipv6 traffic;

        * **ipv6to4**: forward ipv6 traffic to ipv4.
      operationId: Update a HA-IP
      parameters:
      - description: The HA-IP name
        example: example-haip
        explode: false
        in: path
        name: haipName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_22'
        content:
          application/json:
            schema:
              example:
                haip:
                  description: frontend cluster
                  healthCheckInterval: 3000
                  httpHealthCheckPath: /status.php
                  httpHealthCheckPort: 443
                  httpHealthCheckSsl: true
                  ipAddresses:
                  - 10.3.37.1
                  - 10.3.38.1
                  ipSetup: ipv6to4
                  ipv4Address: 37.97.254.7
                  ipv6Address: 2a01:7c8:3:1337::1
                  isLoadBalancingEnabled: true
                  loadBalancingMode: cookie
                  name: example-haip
                  ptrRecord: frontend.example.com
                  status: active
                  stickyCookieName: PHPSESSID
              properties:
                haip:
                  $ref: '#/components/schemas/_haips__haipName__haip'
              type: object
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP 'example-haip' is blocked, no modification is allowed
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP with name 'example-haip' not found
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: 'This is not a valid hostname: ''test&@*#'''
          description: Not Acceptable
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: HA-IP 'example-haip' has an action running, no modification
                      is allowed
          description: Conflict
      security:
      - oauth2: []
      summary: Update a HA-IP
      tags:
      - HA-IP
  /haips/{haipName}/certificates:
    get:
      description: |-
        List the SSL certificates that are currently used by this HA-IP.

        Ssl certificate id refers to the ssl certificate found in [domain ssl](#domains-ssl)
      operationId: List all HA-IP certificates
      parameters:
      - description: The HA-IP name
        example: example-haip
        explode: false
        in: path
        name: haipName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    certificates:
                    - commonName: example.com
[...]
